/*Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f0ebf8;
}

/*Header*/
header{
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 160px;
    padding: 30px;
    background-color: #673ab7;
    color: #fff;
    text-align: center;
    font-size: 2rem;
}

#export-tarefas{
    margin-top: 3px;
    height: 35px;
    padding: 10px;
    background-color: #baa0e4;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid #ccc;
    transition: 0.2s;
}

#export-tarefas:hover{
    transform: scale(1.05);
}

/*Form*/
.form-container{
    background-color: #fdfdfd;
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: -62px;
}

.form-header{
    height: 45px;
    border-bottom: 1px solid #dfdfdf;
}

.form-header p{
    text-align: center;
    text-transform: uppercase;
    color: #673ab7;
    border-bottom: 2px solid #673ab7;
    width: 150px;
    margin: 0 auto;
    height: 45px;
    line-height: 45px;
}

.form-body{
    padding: 30px;
    color: #222222;
}

#form-title{
    margin-bottom: 15px;
}

.form-body p{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-control{
    display: flex;
}

.form-control input{
    margin-bottom: 20px;
    box-sizing: border-box;
    width: auto;
    max-width: 500px;
}

button i{
   pointer-events: none; 
}

.form-control button,
#search button{
    width: 38px;
    height: 37px;
    font-size: 16px;
    border: none;
    background-color: #baa0e4;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.form-control button:hover,
#search button:hover{
    background-color: #673ab7;
}

#cancel-edit-btn{
    max-width: 80px;
    padding: 10px;
    font-size: 14px;
    border: none;
    background-color: #baa0e4;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

#cancel-edit-btn:hover{
    background-color: #673ab7;
}

#form-add input,
#edit-form input{
    width: 500px;
    border: 1px solid #ccc;
    padding: 10px 5px;
}

.hide{
    display: none;
}

/*Toolbar*/
#toolbar{
    display: flex;
    gap: 100px;
    margin-top: 20px;
}

#toolbar h4,
#toolbar form{
    margin-bottom: 10px;
}

/*Search*/
#search form{
    display: flex;
}

#search-input{
    border: 1px solid #ccc;
    padding: 10px 5px;
    max-width: 100%;
}

/*Filter*/

#filter-select{
    border: 1px solid #ccc;
    padding: 10px 5px;
}

/*tarefa-List*/
#tarefa-list{
    border-top: 1px solid #dfdfdf;
}

.tarefa{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 30px;
    border-bottom: 1px solid #ddd;
    transition: 0.3s;
}

.tarefa h3{
    flex: 1;
    font-size: 0.9rem;
}

.finish-tarefa,
.edit-tarefa,
.remove-tarefa{
    width: 38px;
    height: 36.5px;
    font-size: 16px;
    margin-left: 0.4rem;
    background-color: #5c2faa;
    opacity: 0.7;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.finish-tarefa:hover,
.edit-tarefa:hover,
.remove-tarefa:hover{
   opacity: 1;
}

.done{
    background-color: #baa0e4; 
}

.done h3{
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}
